header {
  display: flex;
  justify-content: center;
  flex-direction: column
}

.main-container {
  flex-direction: column;
  background-color: #EDE8E1;
  min-height: 100vh; /* x2 check this doesn't kill on edge cases*/
}

.main-title-div {
  padding: 4em;
}

.main-title-text-div {
  align-self: center;
  display: flex;
}

.main-title-text-primary-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title-text-primary {
  font-size: 4em;
  color: orangered; /* swap out for more palette appropriatel ater */

}

.main-title-text-secondary {
  color: red;
}

.main-navbar-container-div {
  flex-direction: row;
  padding: 1em;
  background-color: #00274c;
}

.main-navbar-div {
  position: sticky;
  top: 0em;
  padding: 0.5em;
  background-color: #00274c;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 0em 0em 2em 2em;
  height: 3em;
  align-items: center;
  z-index: 2;

  margin-bottom: -4em;
}

.navbar-item-first {
  flex: 1;
  margin: 0;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  flex: 1;
  margin: 0;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 3px solid #FFFFFF;
}

.section-title {
  padding-top: 4em;
}

.main-summary-div {
  padding: 0em 4em 0em;
}

.main-interviews-div {
  padding: 0em 4em 0em;
}

.interviews-random-button {
  width: 30em;
  height: 3em;
  margin: auto;
  border-radius: 2em;
  background-color: #00274c;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.interviews-container {
  display: flex;
  flex-direction: row;
}

.interviews-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
  /* margin-bottom: -4em; */
  align-content: flex-start;
  justify-content: center;
}
      
.main-observations-div {
  padding: 0em 4em 0em;
}

.main-observations-container {
  margin-top: 2em;
  display: flex;
  justify-content: center
}

.main-observations-card {
  height: 12em;
  width: 12em;
  background-color: #278BF0;
  margin: 0em 4em;
  padding: 1em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  
}

.card-container-anchor {
  text-decoration: none;
}

.main-methodology-container {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.main-methodology-card {
  height: 12em;
  width: 12em;
  background-color: #278BF0;
  margin: 0em 2em;
  padding: 1em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  
}
      
.card-title {
  min-height: 3em;
}

.main-methodology-div {
  padding: 0em 4em 0em;
}

.main-acknowledgements-div {
  padding: 0em 4em 0em;
}

.main-contact-div {
  padding: 0em 4em 41em;
}           

