header {
  display: flex;
  justify-content: center;
  flex-direction: column
}

.main-container {
  flex-direction: column;
  background-color: #EDE8E1;
  min-height: 100vh; /* x2 check this doesn't kill on edge cases*/
}

.main-title-div {
  padding: 1em 4em;
  display: flex;
  flex-direction: row;
}

.main-title-text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60em;


  font-family: "Playfair Display", "Oswald", "Cambria"
}

/* .main-title-text-primary-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.main-title-text-primary {
  font-size: 4em;
  color: orangered; /* swap out for more palette appropriatel ater */

}

.main-title-text-secondary {
  color: red;
  text-align: center;
}

.main-title-image-container {
  width: 40em;
  display: flex;
  justify-content: left;
}

.main-title-image-primary {
  height: 18em;
}

.main-navbar-container-div {
  flex-direction: row;
  padding: 1em;
  background-color: #00274c;
}

.main-navbar-div {
  position: sticky;
  top: 0em;
  padding: 0.5em;
  background-color: #00274c;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 0em 0em 2em 2em;
  height: 3em;
  align-items: center;
  z-index: 2;

  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  overflow: hidden;

  margin-bottom: -4em;
}

.main-navbar-div a {
  color: #FFFFFF;
}

.main-navbar-div a:visited {
  color: #FFFFFF;
}

.navbar-item-first {
  flex: 1;
  margin: 0;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  flex: 1;
  margin: 0;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 3px solid #FFFFFF;
}

.section-title {
  padding-top: 4em;
  margin-top: -2em;
  text-align: center;
}

.main-summary-div {
  padding: 0em 4em 0em;
}

.main-interviews-div {
  padding: 0em 4em 0em;
}

.interviews-random-button {
  width: 30em;
  height: 3em;
  margin: auto;
  border-radius: 2em;
  background-color: #00274c;
  color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
}

.interviews-random-button a {
  color: #FFFFFF;
}

.interviews-random-button a:visited {
  color: #FFFFFF;
}

.interviews-container {
  display: flex;
  flex-direction: column;
}

.interviews-subsection-title {
  text-align: center;
}

.interviews-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
  align-content: flex-start;
  justify-content: center;
}
      
.main-observations-div {
  padding: 0em 4em 0em;
  display: flex;
  flex-direction: column;
}

.main-observations-container {
  margin-top: 2em;
  display: flex;
  justify-content: center
}

.main-observations-card {
  height: 10em;
  width: 10em;
  background-color: #278BF0;
  margin: 0em 4em;
  padding: 1em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 8px 4px -4px rgb(0 0 0 / 20%), 0px 8px 4px 0px rgb(0 0 0 / 14%), 0px 6px 2px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
}

.main-methodology-container {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.main-methodology-card {
  height: 10em;
  width: 10em;
  background-color: #278BF0;
  margin: 0em 2em;
  padding: 1em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 8px 4px -4px rgb(0 0 0 / 20%), 0px 8px 4px 0px rgb(0 0 0 / 14%), 0px 6px 2px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
}
      
.card-title {
  min-height: 3em;
  text-align: center;
  margin-bottom: 3em;
}

.card-icon {
  color: white;
  transform: scale(6);
}

.main-methodology-div {
  padding: 0em 4em 0em;
  display: flex;
  flex-direction: column;
}

.main-acknowledgements-div {
  padding: 0em 4em 0em;
}

.main-contact-div {
  /* padding: 0em 4em 41em; */
  padding: 0em 4em 0em;
}           

.main-contact-email-link {
  color: #278BF0;
  text-decoration: none;
}

.main-footer-div {
  display: flex;
  justify-content: center;
}

.main-footer-img {
  width: 30em;
}


@media (max-width: 1800px) {
  .card-title {
    min-height: 2em;
    margin-bottom: 2em;
  }

  .card-icon {
    transform: scale(4);
  }

  .main-observations-container {
    width: 800px;
    flex-wrap: wrap;
    align-self: center;
  }
  
  .main-observations-card {
    height: 8em;
    width: 8em;
    margin: 1em 2em;
  }

  .main-methodology-container {
    width: 800px;
    flex-wrap: wrap;
    align-self: center;
  }

  .main-methodology-card {
    height: 8em;
    width: 8em;
    margin: 1em 2em;
  }
  
  
}

@media (max-width: 1399px) {
/* navbar goes to stack that doesn't stick */
}

@media (max-width: 799px) {
  .card-title {
    min-height: 2em;
    margin-bottom: 2em;
  }

  .card-icon {
    transform: scale(4);
  }

  .main-observations-container {
    flex-direction: column;
    width: 800px;
    flex-wrap: wrap;
    align-self: center;
  }
  
  .main-observations-card {
    height: 8em;
    width: 8em;
    margin: 1em 2em;
  }

  .main-methodology-container {
    width: 800px;
    flex-wrap: wrap;
    align-self: center;
  }

  .main-methodology-card {
    height: 8em;
    width: 8em;
    margin: 1em 2em;
  }
  
  
}