.profile-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: #EDE8E1;
  min-height: 100vh;
}

.profile-navbar-div {
  position: sticky;
  top: 0em;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3em;
  align-items: center;
  z-index: 2;
}

.profile-navbar-left {
  width: 20%;
  height: inherit;
  background-color: #00274c;
}

.profile-navbar-right {
  width: 50%;
  height: inherit;
  background-color: #00274c;
  display: flex;
  flex-direction: row;
}

/* this one looks dumb. Not sure how best to style it tho */
.profile-navbar-left-text {
  flex: 1;
  margin: 0;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-navbar-right-item {
  flex: 1;
  margin: 0;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 3px solid #FFFFFF;
}

    