html { scroll-behavior: smooth; } 

body {
  margin: 0;
  color: #00274c;
  font-family: "Nunito Sans","Montserrat","Merriweather",Calibri,"Trebuchet MS",sans-serif;
  font-size: large;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #FFFFFF;
}

a:visited {
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
